<div class="header-wrapper">
  <header>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="logo-container">
            <img [src]="logoUrl" [alt]="barberiaNombre + ' logo'" class="logo">
          </div>
        </div>
        <div class="col">
          <div class="profile-info">
            <h1 class="mb-1">{{barberiaNombre}}</h1>
            <h3 class="mb-1">{{descripcion}}</h3>
            <p class="mb-0">{{direccion}}</p>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>