<footer class="footer mt-auto">
  <div class="container-fluid">
    <div class="row text-center text-md-start align-items-center">
      <div class="col-md-4 mb-2 mb-md-0">
        <p class="mb-0">© {{proyecto.anio}} {{proyecto.nombreProyecto}}</p>
      </div>
      <div class="col-md-4 mb-2 mb-md-0">
        <p class="mb-0">{{tecnologia.leyenda}}<strong>{{tecnologia.tec1}}</strong> & <strong>{{tecnologia.tec2}}</strong></p>
      </div>
      <div class="col-md-4">
        <p class="mb-0">{{autor}}</p>
      </div>
    </div>
  </div>
</footer>

